inputbar {
  enabled: false;
}

listview {
  columns: 1;
  lines: 7;
  padding: 8px;
}

element {
  children: [ element-text ];
  padding: 8px;
  width: 10px;
  border-radius: 4px;
}

element-icon {
  enabled: false;
}
