window {
  location: southwest;
  width: 253px;
  x-offset: 4px;
  y-offset: -4px;
}

inputbar {
  enabled: false;
}

listview {
  columns: 10;
  lines: 10;
  padding: 0px;
}

element {
  children: [ element-text ];
  padding: 0px;
  width: 8px;
  border-radius: 0px;
}

element-icon {
  enabled: false;
}
