inputbar {
  enabled: false;
}

listview {
  columns: 10;
  lines: 7;
  padding: 8px;
}

element {
  children: [ element-text ];
  padding: 8px;
  width: 8px;
  border-radius: 0px;
}

element-icon {
  enabled: false;
}
