window {
  location: northeast;
  width: 200px;
  x-offset: -4px;
  y-offset: 4px;
  border-radius: 4px;
}

inputbar {
  enabled: false;
}

listview {
  columns: 1;
  lines: 2;
  padding: 4px;
}

element {
  children: [ element-text ];
  padding: 4px;
  width: 10px;
  border-radius: 4px;
}

element-text {
  horizontal-align: 0.5;
}

element-icon {
  enabled: false;
}
