* {
  border: none;
  border-radius: 0;
  font-family: 'Hack Nerd Font Propo';
  font-weight: bold;
  font-size: 14px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window {
  color: rgba(217, 216, 216, 1);
  background: rgba(40, 40, 40, 0.1);
  border: 2px solid rgba(78, 78, 78, 0.01);
  border-radius: 10px;
  color: #dfe4f7;
}

#workspaces {
  margin: 0 2px;
  color: #dfe4f7;
}

#workspaces button {
  padding: 0 0;
  color: #b3b7c5;
}

#workspaces button.active {
  color: #dfe4f7;
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#mode,
#network,
#mpris {
  color: #dfe4f7;
  margin: 0px 6px 0px 6px;
  min-width: 25px;
}

#pulseaudio {
  color: #dfe4f7;
  margin: 0px 0px 0px 6px;
  min-width: 25px;
}

#clock {
  color: #dfe4f7;
  margin: 0px 12px 0px 6px;
  min-width: 140px;
}

#custom-arch {
  color: #dfe4f7;
  font-size: 18px;
  margin: 0 6px 0 12px;
}
